asistente-secretario-ia/workflows/asistente-secretario-completo.json
{
  "name": "Asistente Secretario IA - Mente Aut贸noma",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asistente-secretario",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-80, -20],
      "id": "webhook-entrada",
      "name": "Webhook Entrada"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.plataforma }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "whatsapp-condition"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "telegram-condition",
                    "leftValue": "={{ $json.plataforma }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [360, -20],
      "id": "switch-plataforma",
      "name": "Identificar Plataforma"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mensaje-id",
              "name": "mensaje_id",
              "value": "={{ $json.mensaje_id }}",
              "type": "string"
            },
            {
              "id": "usuario-id",
              "name": "usuario_id",
              "value": "={{ $json.usuario_id }}",
              "type": "string"
            },
            {
              "id": "mensaje-texto",
              "name": "mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            },
            {
              "id": "plataforma-origen",
              "name": "plataforma",
              "value": "={{ $json.plataforma }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [140, -20],
      "id": "mapear-datos",
      "name": "Mapear Datos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "Eres el Asistente Secretario IA de Mente Aut贸noma. Tu funci贸n es ayudar con:\n\n1.  GESTIN DE CALENDARIO:\n   - Crear, editar, eliminar citas en Google Calendar\n   - Consultar disponibilidad\n   - Recordatorios autom谩ticos\n\n2.  GESTIN DE LISTAS:\n   - Lista de tareas pendientes\n   - Lista de ideas de negocio\n   - Lista de contactos importantes\n   - Lista de recordatorios\n\n3.  NOTIFICACIONES:\n   - Enviar mensajes por WhatsApp/Telegram\n   - Recordatorios autom谩ticos\n   - Alertas importantes\n\n4.  INFORMACIN:\n   - Res煤menes diarios\n   - Estad铆sticas de productividad\n   - An谩lisis de patrones\n\nLa fecha y hora actual es: {{ $now }}\n\nResponde de manera profesional y 煤til. Si necesitas crear, editar o eliminar una cita, usa las herramientas de calendario disponibles."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [1360, 0],
      "id": "ai-agent",
      "name": "Asistente Secretario IA"
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha y hora de inicio', `Formato: YYYY-MM-DDTHH:mm:ss`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha y hora de fin', `Formato: YYYY-MM-DDTHH:mm:ss`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descripci贸n del evento', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('T铆tulo del evento', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [1560, 220],
      "id": "crear-evento",
      "name": "Crear Evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-cred",
          "name": "Google Calendar - Mente Aut贸noma"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta para eliminar eventos del calendario.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID del evento a eliminar', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [1420, 220],
      "id": "eliminar-evento",
      "name": "Eliminar Evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-cred",
          "name": "Google Calendar - Mente Aut贸noma"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID del evento a actualizar', ``, 'string') }}",
        "updateFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nuevo t铆tulo', ``, 'string') }}",
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nueva descripci贸n', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nueva fecha de inicio', `Formato: YYYY-MM-DDTHH:mm:ss`, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nueva fecha de fin', `Formato: YYYY-MM-DDTHH:mm:ss`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [1700, 220],
      "id": "actualizar-evento",
      "name": "Actualizar Evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-cred",
          "name": "Google Calendar - Mente Aut贸noma"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Obtener todos los eventos', `true o false`, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha desde', `Formato: YYYY-MM-DDTHH:mm:ss`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha hasta', `Formato: YYYY-MM-DDTHH:mm:ss`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [1840, 220],
      "id": "consultar-calendario",
      "name": "Consultar Calendario",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-cred",
          "name": "Google Calendar - Mente Aut贸noma"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Entrada').item.json.usuario_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1240, 220],
      "id": "memoria-conversacion",
      "name": "Memoria de Conversaci贸n"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1080, 220],
      "id": "openai-model",
      "name": "OpenAI GPT-4o Mini",
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI - Mente Aut贸noma"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const originalText = $input.first().json.output;\n\n  if (typeof originalText !== 'string') {\n    return {\n      json: {\n        error: 'El campo \"output\" no existe o no es un texto',\n        original: originalText\n      }\n    };\n  }\n\n  let cleaned = originalText\n    .replace(/<[^>]*>/g, '')                     // Quitar HTML\n    .replace(/\\r?\\n|\\r/g, ' ')                   // Saltos de l铆nea a espacio\n    .replace(/\\t+/g, ' ')                        // Tabs a espacio\n    .replace(/[^\\p{L}\\p{N},.驴?:?\\s]+/gu, '')     // Mantener letras, n煤meros, , . : 驴 ? y espacios\n    .replace(/\\s+/g, ' ')                        // Normalizar m煤ltiples espacios\n    .trim();                                     // Quitar espacios extremos\n\n  return {\n    json: {\n      cleaned,\n      plataforma: $('Webhook Entrada').item.json.plataforma,\n      usuario_id: $('Webhook Entrada').item.json.usuario_id,\n      mensaje_id: $('Webhook Entrada').item.json.mensaje_id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 0],
      "id": "limpiar-respuesta",
      "name": "Limpiar Respuesta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waapi.app/api/v1/instances/70972/client/action/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $json.usuario_id }}\",\n  \"message\": \"{{ $json.cleaned }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, -100],
      "id": "enviar-whatsapp",
      "name": "Enviar WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "waapi-cred",
          "name": "WaAPI - Mente Aut贸noma"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $vars.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $json.usuario_id }}\",\n  \"text\": \"{{ $json.cleaned }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 100],
      "id": "enviar-telegram",
      "name": "Enviar Telegram"
    },
    {
      "parameters": {
        "operation": "create",
        "name": "lista_{{ $json.tipo_lista }}_{{ new Date().toISOString().split('T')[0] }}.txt",
        "content": "LISTA: {{ $json.tipo_lista }}\nFecha: {{ new Date().toLocaleDateString('es-ES') }}\n\n{{ $json.contenido }}\n\n---\nGenerado por Asistente Secretario IA",
        "options": {}
      },
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [2000, 300],
      "id": "guardar-lista",
      "name": "Guardar Lista"
    }
  ],
  "connections": {
    "Identificar Plataforma": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Datos": {
      "main": [
        [
          {
            "node": "Identificar Plataforma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Mapear Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Evento": {
      "ai_tool": [
        [
          {
            "node": "Asistente Secretario IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Evento": {
      "ai_tool": [
        [
          {
            "node": "Asistente Secretario IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Evento": {
      "ai_tool": [
        [
          {
            "node": "Asistente Secretario IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Calendario": {
      "ai_tool": [
        [
          {
            "node": "Asistente Secretario IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Asistente Secretario IA": {
      "main": [
        [
          {
            "node": "Limpiar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria de Conversaci贸n": {
      "ai_memory": [
        [
          {
            "node": "Asistente Secretario IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Asistente Secretario IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Respuesta": {
      "main": [
        [
          {
            "node": "Identificar Plataforma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "asistente-secretario-ia",
  "tags": [
    {
      "id": "asistente-secretario",
      "name": "Asistente Secretario IA"
    }
  ]
}




