asistente-secretario-ia/workflows/calendar-manager.json
{
  "name": "Gestor de Calendario del Asistente Secretario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-check",
      "name": "Verificar Cada 30 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "options": {
          "calendarId": "primary",
          "timeMin": "={{ new Date().toISOString() }}",
          "timeMax": "={{ new Date(Date.now() + 24*60*60*1000).toISOString() }}"
        }
      },
      "id": "get-events",
      "name": "Obtener Eventos",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-upcoming",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-events",
      "name": "¿Hay Eventos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "content": "Eres un asistente secretario IA. Analiza estos eventos del calendario y genera un resumen inteligente:\n\nEventos: {{ JSON.stringify($json, null, 2) }}\n\nGenera un resumen con:\n1. Eventos importantes del día\n2. Recordatorios necesarios\n3. Sugerencias de optimización",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "analyze-schedule",
      "name": "Analizar Horario",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "message": "📅 Resumen del Calendario:\n\n{{ $json.choices[0].message.content }}",
        "options": {}
      },
      "id": "schedule-summary",
      "name": "Resumen del Día",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Verificar Cada 30 Min": {
      "main": [
        [
          {
            "node": "Obtener Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Eventos": {
      "main": [
        [
          {
            "node": "¿Hay Eventos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Eventos?": {
      "main": [
        [
          {
            "node": "Analizar Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Horario": {
      "main": [
        [
          {
            "node": "Resumen del Día",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
