asistente-secretario-ia/workflows/email-processor.json
{
  "name": "Procesador de Emails del Asistente Secretario",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-webhook",
        "options": {}
      },
      "id": "webhook-email",
      "name": "Webhook Email",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "urgent",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "URGENTE",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-urgent",
      "name": "¿Es Urgente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "content": "Eres un asistente secretario IA. Analiza este email y genera una respuesta profesional:\n\nAsunto: {{ $json.subject }}\nDe: {{ $json.from }}\nContenido: {{ $json.body }}\n\nResponde de manera profesional y útil.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "ai-response",
      "name": "Generar Respuesta IA",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "fromEmail": "asistente@mentautonoma.com",
        "toEmail": "={{ $json.from }}",
        "subject": "Re: {{ $json.subject }}",
        "message": "={{ $json.choices[0].message.content }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Enviar Respuesta",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "message": "📧 Email procesado automáticamente por el Asistente Secretario IA",
        "options": {}
      },
      "id": "notification",
      "name": "Notificación",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Webhook Email": {
      "main": [
        [
          {
            "node": "¿Es Urgente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Urgente?": {
      "main": [
        [
          {
            "node": "Generar Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Respuesta IA": {
      "main": [
        [
          {
            "node": "Enviar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta": {
      "main": [
        [
          {
            "node": "Notificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
